<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--<add key="AppDataFolder" value="E:\PublishingCard\Robot\Resources"/>-->
    <add key="Help" value="help.chm"/>
    <add key="DebugLogLevel" value="3"/>
    <add key="Text" value="Text"/>
    <add key="Resources" value = "Card.Resources"/>
    <add key="CultureName" value="zh-CHS" />
    <add key="ConnectString" value="uid=luqiang; pwd=client;database = MotionControl; server=YX-PC" />
    <add key="CommunicationString1" value="CHANNEL_NAME = can1; BAUDRATE = 500; ReadTimeOutValue=400; WriteTimeOutValue=400" />
    <add key="CommunicationString2" value="CHANNEL_NAME = can2; BAUDRATE = 500; ReadTimeOutValue=400; WriteTimeOutValue=400" />
    <add key="Motor1AxisIDString" value="AXIS_ID_01 = 1" />
    <add key="Motor2AxisIDString" value="AXIS_ID_02 = 2" />
    <add key="Motor3AxisIDString" value="AXIS_ID_03 = 3" />
    <add key="Motor4AxisIDString" value="AXIS_ID_04 = 4" />
    <add key="Motor5AxisIDString" value="AXIS_ID_05 = 5" />
    <add key="Motor6AxisIDString" value="AXIS_ID_06 = 6" />
    <add key="Motor7AxisIDString" value="AXIS_ID_07 = 7" />
    <add key="Motor8AxisIDString" value="AXIS_ID_08 = 8" />
  </appSettings>
</configuration>